
name: Commit Bench Results

on:
  push:
    branches:
      - main

jobs:
  bench:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run benchmarks
        run: |
          cargo bench --release | tee bench_results.txt

      - name: Commit bench results
        uses: step-security/git-auto-commit-action@v5
        with:
          commit_message: "Update bench_results"
          file_pattern: bench_results.txt
          branch: ${{ github.ref_name }}
