name: Bench PR

on:
  pull_request:

jobs:
  bench:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run benchmarks
        run: cargo bench | tee bench_results.txt

      - name: Show files for debug
        run: ls -R .

      - name: Upload results
        uses: actions/upload-artifact@v6
        with:
          name: bench-results
          path: '**/bench_results.txt'
